<div class="container mt-4">
  <h1 class="mb-4">Administrador de Clientes</h1>

  <button class="btn btn-primary mb-3" (click)="goToCreate()">
    <i class="fas fa-plus me-2"></i>Agregar Cliente
  </button>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>UserId</th>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Contraseña</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.nombres }}</td>
        <td>{{ user.apellidoPaterno }}</td>
        <td>{{ user.apellidoMaterno }}</td>
        <td>{{ user.telefono }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.passwordHash }}</td>
        <td>
          <button class="btn btn-info btn-sm me-2" (click)="goToEdit(user.userId)">
            <i class="fas fa-edit"></i> Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="deactivate(user.userId)">
            <i class="fas fa-trash"></i> Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
